# --- file: requirements.txt ---
## run this to install
## python3 -m pip install --upgrade pip setuptools wheel
## pip install -r requirements.txt

# Web Server
fastapi==0.128.8
uvicorn==0.39.0

# for OS boottime
psutil==7.2.2

# Data Validation & Environment Variables
pydantic==2.7.1
python-dotenv==1.0.1

# Asynchronous MQTT & HTTP
aiomqtt==2.1.0
aiohttp==3.13.5

# YAML Parsing
PyYAML==6.0.1

# Logging
loguru==0.7.2

# Phase 2 (Hardware - intentionally deferred for now)
# smbus2==0.4.3
# lgpio==0.2.2.0