# --- file: requirements.txt ---
## python3 -m pip install --upgrade pip setuptools wheel

## run this to install, inside the venv
## source /home/wannes/wanos/wanos_venv/bin/activate
## pip install -r requirements.txt

## to check version to install on current Debian version:
# https://pypi.org/pypi/<package_name>/json  e.g. https://pypi.org/pypi/pyserial-asyncio/json and look for "version"
# curl -s https://pypi.org/pypi/pyRFXtrx/json | grep '"version"'

# Web Server
fastapi==0.128.8
uvicorn==0.39.0

# for OS boottime
psutil==7.2.2

# Data Validation & Environment Variables
pydantic==2.7.1
python-dotenv==1.0.1

# Asynchronous MQTT & HTTP
aiomqtt==2.1.0
aiohttp==3.13.5

# YAML Parsing
PyYAML==6.0.1

# Logging
loguru==0.7.2

# Native RFXCOM Hardware Integration
pyRFXtrx==0.34.0
pyserial-asyncio==0.6

# Cryptographic Authentication
PyJWT==2.8.0

# GPIO Hardware - intentionally deferred for now
# smbus2==0.4.3
# lgpio==0.2.2.0