# --- file: requirements.txt ---
## python3 -m pip install --upgrade pip setuptools wheel

## run this to install, inside the venv
## source /home/wannes/wanos/wanos_venv/bin/activate
## pip install -r requirements.txt

## to check version to install on current Debian version:
# https://pypi.org/pypi/<package_name>/json  e.g. https://pypi.org/pypi/pyserial-asyncio/json and look for "version"
# curl -s https://pypi.org/pypi/pyRFXtrx/json | grep '"version"'

# Web Server
fastapi==0.128.8
uvicorn==0.39.0

# for OS boottime
psutil==7.2.2

# Data Validation & Environment Variables
pydantic==2.7.1
python-dotenv==1.0.1

# Asynchronous MQTT & HTTP
aiomqtt==2.1.0
aiohttp==3.13.5

# YAML Parsing
PyYAML==6.0.1

# Logging
loguru==0.7.2

# Native RFXCOM Hardware Integration
pyRFXtrx==0.34.0
pyserial-asyncio==0.6

# Cryptographic Authentication
PyJWT==2.8.0

# I2C devices (LCD screens)
# smbus2==0.4.3

# SHT11 sensors
RPi.GPIO==0.7.1  # pi-sht1x needs this
pi-sht1x==1.0.10

## GPIO Hardware dependencies
# On Bullseye, compile this from source before installing requirements:
# wget https://github.com/joan2937/lg/archive/master.zip
# unzip master.zip
# cd lg-master
# make
# sudo make install
# rgpiod -v  # to check C-library version
# sudo rm -rf lg-master master.zip
# sudo apt install swig python3-dev -y  # install dependencies

# ⚡ Force PIP to compile lgpio from source to match the local Bullseye GLIBC version
--no-binary lgpio
lgpio==0.2.2.0

# =====================================================================
# ⚠️ FUTURE OS UPGRADE NOTE (Debian 12 Bookworm)
# =====================================================================
# If you ever upgrade the Raspberry Pi OS to Debian 12 (Bookworm), 
# RPi.GPIO will break due to the new gpiod kernel restrictions.
# rpi-lgpio completely replaces it to bypass the Bookworm kernel block, it translates RPi.GPIO calls to modern lgpio
# When that happens:
# 1. Run: sudo apt install python3-lgpio
#    (OS-level: this provides the underlying C-library liblgpio that the Python wrapper needs to function)
# 2. Delete RPi.GPIO from this file.
# 3. Add this line instead:
#    rpi-lgpio==0.4
# =====================================================================



